body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 16px;
  line-height: 1;
  background: #fff;
}
@media (min-width: 800px) {
  body {
    font-size: 20px;
  }
}
a:link {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
  text-decoration: none;
}
footer,
header {
  color: rgba(0, 0, 0, 0.64);
  font-size: 0.7em;
  margin-bottom: 4em;
  padding-bottom: 2em;
  padding-top: 2em;
}
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #424242;
}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}
.logo {
  text-align: center;
  width: 100%;
  font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
}

@media (min-width: 800px) {
  .container {
    width: 700px;
  }
}

.post-content img {
  width: 100%;
  display: none;
}
.post-content {
  text-align: left;
}

p.meta {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.6em;
  text-align: left;
  font-family: sans-serif;
}

figcaption p {
	margin-bottom: 20px;
}

h2, h3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  line-height: 1;
}
h2 {
  font-size: 34px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 70px;
}

h3 {
  margin-top: 0;
  font-size: 26px;
  letter-spacing: -.05em;
}
figcaption {
      font-size: 1rem;
    color: #8c8c8c;
    line-height: 1.2;
    text-overflow: ellipsis;
    height: 75px;
    overflow: hidden;
    display: inline-block;
}

#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  margin: 50px auto;
}

figure {
  margin: 0 2px 15px;
  padding: 15px;
  display: inline-block;
  background: #fafafa;
  transition: all .2s ease-in-out;
  border-radius: 3px;

}
figure:hover {
  background: #fff;
}



figure:nth-child(1) {
  background: #fff;  
}
figure:nth-child(1) h3  {
  font-size: 40px;
  color: #424242;
}

figure:nth-child(1) figcaption {
  font-size: 25px;
  height: 390px;
  line-height: 1.2;
  color: #111;
}






figure:nth-child(4n+0) {
  background: #424242;
}
figure:nth-child(4n+0):hover {
  background: #292929;
}

figure:nth-child(4n+0) h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  margin-bottom: 0;
}
figure:nth-child(4n+0) p.meta {
  
  color: #fff;
  font-weight: 400;
}

figure:nth-child(4n+0) figcaption {
  display: none;

}


figure:nth-child(6n+0) {
  background: #FFEB3B;
}
figure:nth-child(6n+0):hover {
  background: #fff;
}

figure:nth-child(6n+0) h3 {
  font-size: 32px;
  color: #383838;
  font-weight: 800;
  padding: 10px;
  line-height: 1.1;
  margin-bottom: 0;
}
figure:nth-child(6n+0) p.meta {
    font-weight: 800;
    color: rgba(17, 17, 17, 0.56);
    padding-left: 10px;
}

figure:nth-child(6n+0) figcaption {
  display: none;
}







@media screen and (max-width: 750px) {
  #columns {
    column-gap: 0px;
    margin: 0;
  }
  footer,
header {
  margin-bottom: 0;
}
  
  figure {
    width: 100%;
  }
}
