<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta http-equiv="refresh" content="900">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <title>{{ item.title }}Папiр</title>
     {% set css %}{% include "css/styles.css" %}{% endset %}
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <header>
      <div class="container">
       <a class="logo" href="/"><svg width="55" height="32" viewBox="0 0 35 32" xmlns="http://www.w3.org/2000/svg"><text transform="rotate(-90 16 16)" fill="#fff" font-family="Arial Black" font-size="19" font-weight="700"><tspan x="0" y="25">Па</tspan><tspan x="0" y="43" font-size="16">пiр</tspan></text></svg></a>
      </div>
    </header>
    
      {{ content | safe }}
  
    <footer>
      <div class="container">
         <a class="logo-footer" href="/">© 2019 Папiр</a>
      </div>
    </footer>
  </body>
</html>
