<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta http-equiv="refresh" content="900">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <title>{{ item.title }}</title>
     {% set css %}{% include "css/styles.css" %}{% endset %}
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <header>
      <div class="container">
       <a class="logo" href="/"><svg width="37" height="33" viewBox="0 0 37 33" xmlns="http://www.w3.org/2000/svg"><path d="M21.857.315l2.09 6.803 3.468 11.382.133-.267.4-1.512h8.359v4.446h-5.157l-1.69 5.157-2.09 6.536-2.09-6.669-3.468-11.115-3.468 11.115-1.823 5.958-2.356-5.691-2.623-6.536-.578 1.245h-10.27v-4.446h7.514l1.69-3.335 2.223-4.313 1.823 4.579 2.09 5.291 3.735-11.827z" fill="#fff" fill-rule="nonzero"/></svg></a>
      </div>
    </header>
      {{ content | safe }}
    <footer>
      <div class="container">
         <a class="logo-footer" href="/">© 2019 Папiр</a>
      </div>
    </footer>
  </body>
</html>
