---
layout: layouts/base.njk
---


<div id="columns">
{% for item in medium.post %}
  <figure>
  <figcaption>
  <a href="/post/{{ item.path }}">
    <p class="meta">{{ item.pubDate | date }}</p>
    <h3>{{ item.title }}</h3>
    {{ item.description | safe }}
   </figcaption>
  </figure>
  </a>
 {% endfor %}
</div>
