---
layout: layouts/base.njk
pagination:
  data: medium.post
  size: 1
  alias: item
permalink: /{{ item.path }}
---


<div class="container">
<h2>{{ item.title }}</h2>
<p class="meta">{{ item.pubDate | date }} <br/></p>
<div class="post-content">
  {{ item['fulltext'] | safe }}
</div>
</div>

<div id="columns" class="page-columns">
{% for item in medium.post %}
  <span> 
  <a href="/{{ item.path }}">    
    <h4>{{ item.title }}</h4>
    <figcaption>
    {{ item.description | safe }}
   </figcaption>
  </a>
  </span>
 {% endfor %}
</div>
