---
layout: layouts/base.njk
pagination:
  data: medium.post
  size: 1
  alias: item
permalink: post/{{ item.path }}
---


<div class="container">
<h2>{{ item.title }}</h2>
<p class="meta">{{ item.pubDate | date }} <br/></p>
<div class="post-content">
  {{ item['fulltext'] | safe }}
</div>
</div>
