---
layout: layouts/base.njk
pagination:
  data: medium.posts
  size: 2
  alias: item
permalink: posts/{{ item.path }}/index.html
---

<p class="meta">{{ item.pubDate | date }}</p>
<h2>{{ item.title }}</h2>
<div class="post-content">
  {{ item['description'] | safe }}
  
  <p class="meta"><a href="{{ item['link'] }}" target="_blank">{{ item['link'] }}</a></p>
</div>

